.lista-h {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lista-h li {
    display: inline;
    margin-right: 10px;
}

@media screen and (min-width: 767px) {
    .imgFloatIzq {
        float: left;
        padding-right: 12.5%;
        max-width: 60%;
        max-height: 60%;
    }
    .bordeGris {
        color: white;
        font-family: cursive;
        font-size: 30px;

    }
}

@media screen and (max-width: 767px){
    .imgFloatIzq {
        padding-inline: 45%;
        max-width: 10%;
        max-height: 10%;
    }
    .bordeGris {
        color: white;
        font-family: cursive;
        font-size: 4.5vw;
    }
}


.clear{
    clear: both;
}

.gris{
    background-color: darkgray;
}




.contornoGris{
    outline: darkgray 5px dotted;
}

.textoCentrar{
    text-align: center;
}

.margenY{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.fondoPrincipal{
    /*background-image: url("img/fondoLogo.jpeg");*/
    background-color: #0d0c1a;
    background-position-x: 340px;
}

.botonPrincipal{
    padding: 10px 20px;
    border-radius: 20px;
    border-color: darkgoldenrod;
    background-color: #705005;
    color: white;
    font-family: "Liberation Sans";
    box-shadow: 1px 1px 1px #090913;
    cursor: pointer;
}

.botonPrincipal:hover{
    transition-duration: 0.4s;
    background-color: #b68006;
    box-shadow: 1px 1px 1px #211e3f;
}


.botonPrincipal:active{
    background-color: #ecb946;
}

.botonHeader{
    display: inline-block;

    padding: 9px 18px;
    border-radius: 20px;
    border-color: darkgoldenrod;
    background-color: #705005;
    color: white;
    font-family: "Liberation Sans";
    box-shadow: 1px 1px 1px #090913;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.botonHeader:hover{
    transition-duration: 0.4s;
    background-color: #b68006;
    box-shadow: 1px 1px 1px #211e3f;
}

.botonHeader:active{
    background-color: #fab824;
}


.botonHeaderActual{
    display: inline-block;

    padding: 9px 18px;
    border-radius: 20px;
    border-color: #8a680a;
    background-color: #574006;
    color: #c7c7c7;
    font-family: "Liberation Sans";
    box-shadow: 1px 1px 1px #131328;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.botonHeaderActual:hover{
    transition-duration: 0.4s;
    background-color: #251a01;
    box-shadow: 1px 1px 1px #312c5d;
}

.botonHeaderActual:active{
    background-color: #8a680a;
}



.barraHeader{
    background-image: linear-gradient(to left, #080710, #14142a);
}

.barraFooter{
    background-image: linear-gradient(to right, #080710, #14142a);
    color: white;
    font-size: 20px;
}

.listaFooter{
    list-style-type: square;
}

.sinPunto{
    list-style-type: none;
}


.fondoPaginas{
    background-color: #07070e;
    z-index: -2;
    position: relative;
}

@media screen and (min-width: 767px){
    .fondoPaginas::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("img/logoRedNuevo.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 30%;
        background-position-x: 30%;
        opacity: 0.2;
        z-index: -1;
    }



    .fondoPaginasCentrado::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("img/logoNuevo.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -5%;
        opacity: 0.2;
        z-index: -1;
    }

}

@media screen and (max-width: 767px){
    .fondoPaginas::after{
        content: "";
        position: absolute;
        top: 0;
        left: 15%;
        width: 75%;
        height: 100%;
        background-image: url("img/logoRedNuevo.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: -1vw;
        opacity: 0.2;
        z-index: -1;
    }



    .fondoPaginasCentrado::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("img/logoRedNuevo.png");
        background-repeat: repeat;
        background-size: contain;
        background-position-y: 50%;
        opacity: 0.2;
        z-index: -1;
    }

}


.fondoP{
    background-color: #0d0c1a;
}

.pad{
    padding: 10px;
}

.botonForm{
    display: inline-block;

    padding: 5px 15px;
    border-radius: 20px;
    border-color: #151515;
    background-color: black;
    color: white;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.botonForm:hover{
    transition-duration: 0.4s;
    background-color: #505050;
    border-color: #2f2f2f;
    box-shadow: 1px 1px 1px white;
}

.botonForm:active{
    border-color: #dedede;
    background-color: #a1a1a1;
}

.selectForm{
    border: none;
    padding: 4px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.inputForm{
    border: none;
    padding: 5px;
    border-radius: 20px;
    background-color: black;
    color: white;
}


.checkForm {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}


.checkForm:checked:before {
    content: "X";
    position: relative;
    top: -12%;
    left: 20%;
    font-size: 18px;
    color: white;
}

.fondoPaginasCentrado{
    position: relative;
}

.rojo{
    color: red;
}

.fondoPagVideo{
    position: relative;

}


@media screen and (min-width: 767px){

    .fondoPagVideo::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("img/logoRedNuevo.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 0px;
        background-position-x: 0px;
        opacity: 0.2;
        z-index: -1;
    }
}

@media screen and (max-width: 767px){
    .fondoPagVideo::after{ }
}



.fuenteObras
{
    font-family: "Liberation Sans";
}

@media screen and (min-width: 767px) {
    .LOGO{
        height: 450px;
        width: 450px;
    }
}

@media screen and (max-width: 767px){
    .LOGO
    {
        height: 100%;
        width: 100%;
    }
}

.z10{
    z-index: 99999;
}

div.video{
    z-index: 9999;
}

.fondoAzul
{
    background-color: #07070e;
    z-index: auto;
}